<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.csus.plugin.securecodingassistant.SecureCompilationParticipants"
         name="Secure Compilation Participants"
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="edu.csus.plugin.securecodingassistant.compilation.SecureCompilationParticipant"
            createsProblems="false"
            id="edu.csus.plugin.securecodingassistant.compilationParticipant"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>
   <extension
         id="edu.csus.plugin.securecodingassistant.securecodingmarker"
         name="Secure Coding Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="edu.csus.plugin.securecodingassistant.securecodingmarker.violatedRule">
      </attribute>
      <attribute
            name="edu.csus.plugin.securecodingassistant.securecodingmarker.securityLevel">
      </attribute>
   </extension>

</plugin>
